# Node modules
node_modules/

# Logs
*.log
*.log.*

# Vite and build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# npm packages
package-lock.json

# Temporary files
*.swp
*.swo
*.bak

# env files
.env
.env.local
.env.*.local
