@import "tailwindcss";

@keyframes moveRocket {
    0% {
      transform: translateX(0); 
    }
    25% {
      transform: translateX(15px); 
    }
    50% {
      transform: translateX(-10px); 
    }
    75% {
      transform: translateX(15px); 
    }
    100% {
      transform: translateX(0); 
    }
  }
  
  .rocket {
    animation: moveRocket 4s ease-in-out infinite; 
  }
@keyframes scroll-text {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(40%);
  }
}

.animate-scroll-text {
  animation: scroll-text 30s linear forwards;
}