@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

 @keyframes scroll-text {
      0% {
        transform: translateY(100%);
      }
  
      100% {
        transform: translateY(-100%);
      }
    }
  
    .animate-scroll-text {
      animation: scroll-text 60s linear infinite;
    }

.animate-marquee {
  animation: marquee 5s linear infinite;
}

@font-face {
  font-family: 'Play-Bold';
  src: url('data/Play-Bold.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Play-Regular';
  src: url('data/Play-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotateText {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}